# Working with Tensorflow
Written by [Solomon Stevens](https://github.com/Stone-Snevets/datafun-06-projects)

Date: September 29, 2023

Domain: Electric Cars

Goals: Learn some basic Tensorflow code and apply to current domain

## This is a BONUS Section
I chose working with Tensorflow as many cites ephasized an importance of it in data science.

Overall, it went ok.  Entering this notebook, I knew absolutely NOTHING regarding it.  So there were a few hicups along the way.

If I were to have a stronger grasp of Tensorflow, I would probably recommend it, but as of right now, I don't feel I'm in any position to speak for or against it.

### Install Tensorflow

Before we can work with Tensorflow at all, we need to install it.
- In a terminal ("View" -> "Terminal"), I typed in the following command:
```shell
python -m pip install --upgrade tensorflow
```

We now should be good to go.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf

### Read in Data File
Use pandas to read in a csv file with information regarding Electric Cars

In [2]:
evs = pd.read_csv('Quickestelectriccars-EVDatabase.csv')

# Confirm data read in using head()
evs.head()

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla Roadster,Battery Electric Vehicle | 200 kWh,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,All Wheel Drive,4,"€215,000","£189,000"
1,Tesla Model X Plaid,Battery Electric Vehicle | 90 kWh,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,All Wheel Drive,7,"€116,990","£110,980"
2,Porsche Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"€186,336","£138,830"
3,Porsche Taycan Turbo S Cross Turismo,Battery Electric Vehicle | 83.7 kWh,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h,All Wheel Drive,4,"€187,746","£139,910"
4,Tesla Cybertruck Tri Motor,Battery Electric Vehicle | 200 kWh,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h,All Wheel Drive,7,"€75,000","£68,000"

### Create a list to work with
Using "Name" and "Range"

In [3]:
# Create a list of columns to use
cols = ['Name', 'Range']

# Create a list out of these columns using tolist()
evs_name_range = evs[cols].values.tolist()

### Start Using Tensorflow

In [4]:
# Create a tensor(array) with the data in the "Name" and "Range" columns
#-> Make the tensor a string
#-> Set the size of our list to a 179x2 matrix
evs_t = tf.constant(evs_name_range, dtype = tf.string, shape = (179,2))


# We can check that this works by checking the datatype...
evs_t.dtype

tf.string

In [5]:
# ... and the shape
evs_t.shape

TensorShape([179, 2])

### Find All Unique Elements

In [16]:
# Find a list of all the different names of the cars categorized
evs_t_unique_name, id_name, cnt_name = tf.unique_with_counts(evs_t[:, 0])

# Fins a list of all the different ranges observed
evs_t_unique_range, id_range, cnt_range = tf.unique_with_counts(evs_t[:, 1])

In [17]:
# Create a Series consisting of each unique name with it's frequency
evs_name_freq = pd.Series(cnt_name, evs_t_unique_name)

# Create a Series consisting of each unique range with it's frequency
evs_range_freq = pd.Series(cnt_range, evs_t_unique_range)

### Findings
- There were only six cars that had multiple inputs

&emsp;&emsp;-> While showing a broad range of data is important, having only one

&emsp;&emsp;&emsp;input for a car carries the risk of that particular one chosen to have

&emsp;&emsp;&emsp;an issue of some sort (bad battery, rust, etc.)

- Only ten different cars displayed a range over 500 km per full charge

- There were nine different cars that had a range of 270 km per full charge

&emsp;&emsp;-> There were also nine cars with a range of 185 km per full charge